body .showTablet {
    display: none !important;
}

body .showMobile {
    display: none;
}

body .showMobileBlock {
    display: none;
}

.hideTablet.showMobile {
    display: flex;
}
body .showTabletGrid {
    display: none !important;
}

@media (max-width: 1199px) {
    body .hideTablet {
        display: none !important;
    }

    body .showTablet {
        display: flex !important;
    }

    body .showTabletGrid {
        display: grid !important;
    }

    body .hideTablet.showMobile {
        display: none !important;
    }
}

@media (max-width: 767px) {
    body .showMobile {
        display: flex;
    }

    body .showMobileBlock {
        display: block;
    }

    .showMobileGrid {
        display: grid;
    }

    body .hideMobile {
        display: none !important;
    }

    body .hideTablet.showMobile {
        display: flex !important;
    }
}