.show--tablet {
    display: none;
}

.show--mobile {
    display: none;
}

@media (max-width: 1199px) {
    .hide--tablet {
        display: none;
    }

    .show--tablet {
        display: flex;
    }

    .show--tabletGrid {
        display: grid;
    }
}

@media (max-width: 767px) {
    .show--mobile {
        display: flex;
    }

    .show--mbGrid {
        display: grid;
    }

    .hide--mobile {
        display: none;
    }
}